*,
*::before,
*::after {
    box-sizing: border-box;
    

* {
    margin: 0;
    padding: 0;
}
}

:root {
    --font-family: "Roboto", sans-serif;
    --title-lg: 2rem bold var(--font-family);
    --text-lg: 1rem normal var(--font-family);
    --text-md: 1rem bold var(--font-family);
    --text-sm: 0.875rem normal var(--font-family);
}

body {
   img {
    min-height: 100vh;
    min-width: 100vw;
   }
}

.container {
    --max-width: 414px;
    width: min(var(--max-width), 100% - var(--px-md) * 2);
    margin-inline: auto;
}